body {
    margin: auto;
    padding: 20px;
    color: #000;
    font-family: 'Lato', sans-serif;
    
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo banner banner"
        "nav nav nav"
        "side main main"
        "footer footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    background-color: #ddd;
    border-radius: 10px;
    border: solid 1px #CCC; /* pale grey border */
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #4f8a8b;  /* turquoise */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #fff;
}

/* Area specifics */

.logo {
    grid-area: logo;
    padding: 0;
    height: 150px;
    background-image: url(images/logo_glizzy.png); /* logo background image */
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #fbd46d;  /* silver */
    font-size: 150%;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #eeeeee;  /* very pale grey */

}

.side {
    grid-area: side;
    background-color: #222831;  /* dark grey  */
    
}

.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Side Links */
.nav a {font-weight: bold;}
.nav a:link, a.side:visited {color: 	#DA291C;} /*dark red */
.nav a:hover {color: #000; text-decoration: none;} /* chocolate brown */


/* Navigation in page */
a {font-weight: bold;}
a:link{color: #def2ec;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}




















